.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.element {
  margin-top: 50px;
}

.elementOne {
  margin-top: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  height: auto;
}

.table{
  white-space: nowrap;
  width: 1%;
}
div#divContainer{
  position:fixed;
   left:100px;
   top:150px;
   overflow: hidden;

}



.logo{
height: 35px;
width: 35px;

}
.logoShop{
  height: 30px;
  width: 30px;
  
  }

#card{
  position:static;
  left: 150px;
  top: 150px;
  
}
#div1 {
  width: auto;
    float:left; /* add this */
    
}
#div2 {
 
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}